<?xml version="1.0" encoding="UTF-8"?>

<web-app>
    <servlet>
        <servlet-name>result</servlet-name>
        <jsp-file>/result.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>result</servlet-name>
        <url-pattern>/result</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>response</servlet-name>
        <jsp-file>/response.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>response</servlet-name>
        <url-pattern>/response</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>b_board</servlet-name>
        <jsp-file>/b_board.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>b_board</servlet-name>
        <url-pattern>/b_board</url-pattern>
    </servlet-mapping>

	<servlet>
		<servlet-name>B_boardServlet</servlet-name>
		<servlet-class>B_boardServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>B_boardServlet</servlet-name>
		<url-pattern>/B_boardServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ResponseServlet</servlet-name>
		<servlet-class>ResponseServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ResponseServlet</servlet-name>
		<url-pattern>/ResponseServlet</url-pattern>
	</servlet-mapping>

</web-app>
